<!doctype html>
<html lang="en">
  {% include "partials/_head.njk" %}
  <body class="md:container mx:auto">
    {% include "partials/_header.njk" %}
    {{ content | safe }}
    {% include "partials/_footer.njk" %}
  </body>
</html>