<script src="https://utteranc.es/client.js"
        repo="martinjc/programming-intro"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>